html,
body {
  margin: 0;

  height: 100%;

  overflow: hidden;
}
h2 {
  text-align: center;
}

/* ------ */

.github-box {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* margin: auto; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
#github-img1 {
  padding: 10px;
}
.id-input {
  margin: 15px 20px;
}
/* bottom */

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ---- */
.link-box {
  width: 50%;
  left: 0;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* display: flex; */
  /* align-items: center; */
  /* margin: auto; */
}
a {
  text-decoration: none;
}
.del-btn {
  float: right;
  color: black;
}
.add-btn {
  height: 10px;
  width: 10px;
  color: #1eaedb;
}
.add-form {
  position: absolute;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.name-input {
  width: 33%;
  margin: 0 10px 5px;
}
.url-input {
  margin: 0 10px 5px;
}
/* todo-box */
.todo-box {
  text-align: right;
  word-break: keep-all;
  width: 40%;
  right: 0;
}
.todo-add-btn {
  white-space: nowrap;
}
.todo-label {
  display: inline-block;
  white-space: nowrap;
}
.todo-checkbox {
  vertical-align: middle;
  margin: auto;
  margin-right: 4px;
}
.todo-label span {
  margin-right: 4px;
}
